**PART 1 : CONTENT BASED FILTERING**

In [0]:
#IMPORTING LIBRARIES

import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
#UPLOADING DATA FILES(.CSV)
from google.colab import files
uploaded = files.upload()

Saving posts.csv to posts.csv
Saving users.csv to users.csv
Saving views.csv to views.csv

In [0]:
#READING DATA IN PANDAS DATAFRAME

posts = pd.read_csv('posts.csv')
users = pd.read_csv('users.csv')
views = pd.read_csv('views.csv')

MAKING DATA SUITABLE FOR USE

In [8]:
posts.rename(columns ={'_id':'post_id'},inplace=True)
posts

                      post_id  ...  post_type
0    5d62abaa65218653a132c956  ...       blog
1    5d6d39567fa40e1417a4931c  ...       blog
2    5d7d23315720533e15c3b1ee  ...       blog
3    5d7d405e5720533e15c3b1f3  ...    artwork
4    5d80dfbc6c53455f896e600e  ...       blog
..                        ...  ...        ...
488  5ed3791976027d35905ccab6  ...       blog
489  5ed3820f76027d35905ccac8  ...       blog
490  5ed3ef4cbd514d602c1530f2  ...    project
491  5ed415c6bd514d602c15312d  ...      skill
492  5ed4cbadbd514d602c1531a6  ...       blog

[493 rows x 4 columns]

In [7]:
users.rename(columns ={'_id':'user_id'},inplace=True)
users

                      user_id                  name  gender      academics
0    5d60098a653a331687083238  Nivesh Singh Chauhan    male  undergraduate
1    5d610ae1653a331687083239         Gaurav Sharma    male       graduate
2    5d618359fc5fcf3bdd9a0910         Akshay Mishra    male  undergraduate
3    5d6d2bb87fa40e1417a49315        Saksham Mathur    male  undergraduate
4    5d7c994d5720533e15c3b1e9         Varun Chowhan    male  undergraduate
..                        ...                   ...     ...            ...
113  5ed35aa376027d35905cca67                 Steve    male       graduate
114  5ed3737976027d35905ccaa2        Himanshu Singh    male  undergraduate
115  5ed3748576027d35905ccaab           Parth Vijay    male  undergraduate
116  5ed3cbcbbd514d602c1530a7       Abhishek Mishra    male  undergraduate
117  5ed3e898bd514d602c1530de          gauri raskar  female       graduate

[118 rows x 4 columns]

In [9]:
views

                       user_id  ...                 timestamp
0     5df49b32cc709107827fb3c7  ...  2020-06-01T10:46:45.131Z
1     5ed3748576027d35905ccaab  ...  2020-06-01T09:39:20.021Z
2     5ed0defa76027d35905cc2de  ...  2020-06-01T08:12:42.682Z
3     5ed0defa76027d35905cc2de  ...  2020-06-01T08:10:23.880Z
4     5ed0defa76027d35905cc2de  ...  2020-06-01T08:08:54.124Z
...                        ...  ...                       ...
1444  5d60098a653a331687083238  ...  2020-03-26T19:03:55.284Z
1445  5d60098a653a331687083238  ...  2020-03-26T19:01:42.384Z
1446  5d60098a653a331687083238  ...  2020-03-26T19:00:25.693Z
1447  5d60098a653a331687083238  ...  2020-03-26T18:49:14.721Z
1448  5d60098a653a331687083238  ...  2020-03-26T18:25:45.637Z

[1449 rows x 3 columns]

CREATING A NEW DATAFRAME WITH ONLY THE IMPORTANT COLUMNS

In [0]:
df1 = posts[['category',' post_type']]

In [11]:
df1

                                              category  post_type
0                                  Plant Biotechnology       blog
1    Artificial Intelligence|Machine Learning|Infor...       blog
2                                    Operating Systems       blog
3                                             Drawings    artwork
4                                     Competition Laws       blog
..                                                 ...        ...
488         Computer Technology|Information Technology       blog
489  Computer Technology|Computer Application|Infor...       blog
490                                                NaN    project
491                                Science; Technology      skill
492  Computer Technology|Computer Application|Infor...       blog

[493 rows x 2 columns]

In [12]:
df1 = df1[df1['category'].notnull()]
df1

                                              category  post_type
0                                  Plant Biotechnology       blog
1    Artificial Intelligence|Machine Learning|Infor...       blog
2                                    Operating Systems       blog
3                                             Drawings    artwork
4                                     Competition Laws       blog
..                                                 ...        ...
487                                         Technology      skill
488         Computer Technology|Information Technology       blog
489  Computer Technology|Computer Application|Infor...       blog
491                                Science; Technology      skill
492  Computer Technology|Computer Application|Infor...       blog

[465 rows x 2 columns]

In [0]:
df1['category'] = df1['category'].map(lambda x : x.split('|'))

In [0]:
df1['title'] = posts['title']

In [15]:
df1

                                              category  ...                                              title
0                                [Plant Biotechnology]  ...                                        hello there
1    [Artificial Intelligence, Machine Learning, In...  ...                                          Ml and AI
2                                  [Operating Systems]  ...                      What is an Operating System ?
3                                           [Drawings]  ...                                         Lord Shiva
4                                   [Competition Laws]  ...                       How Competition law evolved?
..                                                 ...  ...                                                ...
487                                       [Technology]  ...                               AWS CLI Setup in Mac
488      [Computer Technology, Information Technology]  ...                         CI/CD using GitHub Actions
489  [Computer Technology, Computer Application, In...  ...  Configure Docker with Django; PostgreSQL; Pg-a...
491                              [Science; Technology]  ...          Face Recognition using Transfer Learning.
492  [Computer Technology, Computer Application, In...  ...  Configure CI/CD Pipeline in GitLab and deploym...

[465 rows x 3 columns]

In [16]:
df1.set_index('title', inplace = True)
df1.head(10)

                                                                        category  post_type
title
hello there                                                [Plant Biotechnology]       blog
Ml and AI                      [Artificial Intelligence, Machine Learning, In...       blog
What is an Operating System ?                                [Operating Systems]       blog
Lord Shiva                                                            [Drawings]    artwork
How Competition law evolved?                                  [Competition Laws]       blog
Raghavan Committee - 2002.                                    [Competition Laws]       blog
Let's discuss some Case laws!                                 [Competition Laws]       blog
Forms of Cartel.                                              [Competition Laws]       blog
Biodiversity                                                        [Eco System]       blog
Economic policy                                              [Economic Policies]       blog

CONVERTING THE CATEGORY AND POST TYPE INTO A BAG OF WORDS(makes it easy for the inbuilt python function to be applied)

In [0]:
df1['bag_of_words'] = ''
columns = df1.columns
for index, row in df1.iterrows():
    words = ''
    for col in columns:
      if col != ' post_type':
        words = words + ' '.join(row[col])+ ' '
      else:
        words = words + row[col]+ ' '
    row['bag_of_words'] = words
    
df1.drop(columns = [col for col in df1.columns if col!= 'bag_of_words'], inplace = True)

In [18]:
df1.head()

                                                                    bag_of_words
title
hello there                                           Plant Biotechnology blog
Ml and AI                      Artificial Intelligence Machine Learning Infor...
What is an Operating System ?                           Operating Systems blog
Lord Shiva                                                    Drawings artwork
How Competition law evolved?                             Competition Laws blog

In [19]:
count = CountVectorizer()
count_matrix = count.fit_transform(df1['bag_of_words'])

indices = pd.Series(df1.index)
indices[:5]

0                      hello there
1                        Ml and AI
2    What is an Operating System ?
3                       Lord Shiva
4     How Competition law evolved?
Name: title, dtype: object

In [20]:
#USING COSINE SIMILARITY TO FIND SIMILARITY BETWEEN POSTS

cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.21821789, 0.33333333, ..., 0.17407766, 0.        ,
        0.17407766],
       [0.21821789, 1.        , 0.21821789, ..., 0.45584231, 0.21821789,
        0.45584231],
       [0.33333333, 0.21821789, 1.        , ..., 0.17407766, 0.        ,
        0.17407766],
       ...,
       [0.17407766, 0.45584231, 0.17407766, ..., 1.        , 0.34815531,
        1.        ],
       [0.        , 0.21821789, 0.        , ..., 0.34815531, 1.        ,
        0.34815531],
       [0.17407766, 0.45584231, 0.17407766, ..., 1.        , 0.34815531,
        1.        ]])

In [0]:
#FUNCTION TO GIVE THE RECOMMENDED POSTS AS OUTPUT FOR A GIVEN POST INPUT

def recommendations(title, cosine_sim = cosine_sim):
    
    recommended = []
    idx = indices[indices == title].index[0]

    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 5 most similar posts
    top_5_indexes = list(score_series.iloc[1:6].index)
    
    # populating the list with the titles of the best 5 matching posts
    for i in top_5_indexes:
        recommended.append(list(df1.index)[i])
    print('TITLES:')
    for i in range(0,len(recommended)) :
      
      print((i+1),recommended[i])
    #return recommended

**FINAL CONTENT-BASED RECOMMENDATIONS as per the POST's TITLE**
(Recommend similar posts for the given post)

---

In [22]:
recommendations('Ml and AI')

TITLES:
1 GAN's Part(2)
2 Recommend Systems Machine Learning
3 GAN's INTRODUCTION
4 Machine Learning”&“Operations" (MlOps)
5 Learning...

END OF PART 1

**PART 2: COLLABORATIVE FILTERING**

In [0]:
posts

In [0]:
users

In [0]:
views

In [0]:
views.groupby('user_id')
views

In [0]:
views['val'] = 0
for i in range(len(views['user_id'])):
  views['val'] = 1

In [0]:
mat1 = views.pivot_table(index= 'user_id', columns = 'post_id',values='val')

In [0]:
mat1

In [0]:
mat = views.pivot_table(index= 'user_id', columns = 'post_id',values='val')

In [0]:
mat.fillna(0,inplace=True)

In [30]:
#DATAFRAME WHICH STORES THE INFORMATION ABOUT WHICH USER HAS VIEWED WHICH POSTS
# 1.0 INDICATES THE USER HAS VIEWED THE POST AND 0.0 INDICATES THE USER HAS NOT VIEWED THE POST
mat

post_id                   5d62abaa65218653a132c956  ...  5ed4cbadbd514d602c1531a6
user_id                                             ...
5d60098a653a331687083238                       1.0  ...                       0.0
5d610ae1653a331687083239                       0.0  ...                       0.0
5d618359fc5fcf3bdd9a0910                       0.0  ...                       0.0
5d6d2bb87fa40e1417a49315                       0.0  ...                       0.0
5d7c994d5720533e15c3b1e9                       0.0  ...                       0.0
...                                            ...  ...                       ...
5ed35aa376027d35905cca67                       0.0  ...                       0.0
5ed3737976027d35905ccaa2                       0.0  ...                       0.0
5ed3748576027d35905ccaab                       0.0  ...                       1.0
5ed3cbcbbd514d602c1530a7                       0.0  ...                       0.0
5ed3e898bd514d602c1530de                       0.0  ...                       0.0

[118 rows x 495 columns]

In [31]:
#USING COSINE_SIMILARITY FUNCTION TO FIND THE SIMILARITY BETWEEN USERS
cosine_sim2 = cosine_similarity(mat)
np.fill_diagonal(cosine_sim2,0)
similar_users = pd.DataFrame(cosine_sim2,index = mat.index)
similar_users.columns = mat.index
similar_users.head()

user_id                   5d60098a653a331687083238  ...  5ed3e898bd514d602c1530de
user_id                                             ...
5d60098a653a331687083238                  0.000000  ...                  0.067574
5d610ae1653a331687083239                  0.405826  ...                  0.000000
5d618359fc5fcf3bdd9a0910                  0.140901  ...                  0.208514
5d6d2bb87fa40e1417a49315                  0.268175  ...                  0.000000
5d7c994d5720533e15c3b1e9                  0.349760  ...                  0.000000

[5 rows x 118 columns]

In [0]:
df2 = views.copy()

In [0]:
df2

In [0]:
# FUNCTION TO FIND SIMILAR USERS

def find_n_neighbours(df2,n):
    order = np.argsort(df2.values, axis=1)[:, :n]
    df2 = df2.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df2

In [36]:
# TOP 30 SIMILAR USER TO A GIVEN USER 

sim_user_30_u = find_n_neighbours(similar_users,30)
sim_user_30_u.head()

                                              top1  ...                     top30
user_id                                             ...
5d60098a653a331687083238  5d610ae1653a331687083239  ...  5df24eeaee4bb5252b4f5366
5d610ae1653a331687083239  5d60098a653a331687083238  ...  5e902793a3258347b42f2733
5d618359fc5fcf3bdd9a0910  5ecb979eeaff6b0c3a58a4f0  ...  5d60098a653a331687083238
5d6d2bb87fa40e1417a49315  5e3563348d344822fed4d13a  ...  5e942f7ba3258347b42f280e
5d7c994d5720533e15c3b1e9  5e3563348d344822fed4d13a  ...  5ed35aa376027d35905cca67

[5 rows x 30 columns]

In [56]:
views_users = pd.merge(views, users, on='user_id')
views_users

                       user_id                   post_id  ...  gender      academics
0     5df49b32cc709107827fb3c7  5ec821ddec493f4a2655889e  ...  female  undergraduate
1     5df49b32cc709107827fb3c7  5ecd5d417023451e662235c5  ...  female  undergraduate
2     5df49b32cc709107827fb3c7  5dee9b5042a8854bf6eabaaf  ...  female  undergraduate
3     5df49b32cc709107827fb3c7  5ecb72c0eaff6b0c3a58a48e  ...  female  undergraduate
4     5df49b32cc709107827fb3c7  5ec3c09274f7660d73aa1229  ...  female  undergraduate
...                        ...                       ...  ...     ...            ...
1444  5e7de336a3258347b42f210e  5e5e3b35fbc8805f69e02c9e  ...  female       graduate
1445  5e7de336a3258347b42f210e  5e5facf649d7f322c033e02b  ...  female       graduate
1446  5e7de336a3258347b42f210e  5e7de250a3258347b42f210a  ...  female       graduate
1447  5e7dde87a3258347b42f2108  5e79f3fccfc8b713f5ac7d54  ...    male       graduate
1448  5e5855ced701ab08af792b51  5e7bd922cfc8b713f5ac7da9  ...  female  undergraduate

[1449 rows x 7 columns]

In [57]:
views_users_posts = pd.merge(views_users, posts, on= 'post_id')
views_users_posts

                       user_id  ...  post_type
0     5df49b32cc709107827fb3c7  ...    artwork
1     5d7c994d5720533e15c3b1e9  ...    artwork
2     5e5af599d701ab08af792b63  ...    artwork
3     5de50d768eab6401affbb135  ...    artwork
4     5deeef6142a8854bf6eabab9  ...    artwork
...                        ...  ...        ...
1442  5e899be7a3258347b42f25d0  ...    artwork
1443  5e78ce84cfc8b713f5ac7cee  ...    artwork
1444  5e880f02a3258347b42f252c  ...    artwork
1445  5e783375cfc8b713f5ac7c5b  ...    artwork
1446  5e7def80a3258347b42f2124  ...       blog

[1447 rows x 10 columns]

In [0]:
views_users_posts.drop(columns=['timestamp', 'gender', 'academics', 'val', 'category', ' post_type'], inplace=True)

In [80]:
# DROPPING EXTRA COLUMNS AND MAKING THE DATAFRAME AESTHETIC

views_users_posts

                       user_id  ...                        title
0     5df49b32cc709107827fb3c7  ...                  Save Earth.
1     5d7c994d5720533e15c3b1e9  ...                  Save Earth.
2     5e5af599d701ab08af792b63  ...                  Save Earth.
3     5de50d768eab6401affbb135  ...                  Save Earth.
4     5deeef6142a8854bf6eabab9  ...                  Save Earth.
...                        ...  ...                          ...
1442  5e899be7a3258347b42f25d0  ...                   Travelling
1443  5e78ce84cfc8b713f5ac7cee  ...             Childhood Sketch
1444  5e880f02a3258347b42f252c  ...              Quarantine days
1445  5e783375cfc8b713f5ac7c5b  ...            Sunsets in Ottawa
1446  5e7def80a3258347b42f2124  ...  Marital Rape - Rape is Rape

[1447 rows x 4 columns]

In [0]:
# FUNCTION TO GET SIMILAR POSTS BETWEEN 2 USERS

def get_user_similar_posts( user1, user2 ):
    common_posts = views_users_posts[views_users_posts.user_id == user1].merge(
    views_users_posts[views_users_posts.user_id == user2],
    on = "post_id",
    how = "inner" )
    return common_posts.merge( posts, on = 'post_id' )

In [68]:
# THE TWO INPUTS ARE THE USER_IDs AND THESE 2 USERS HAVE THE FOLLOWING POSTS IN COMMON

a = get_user_similar_posts('5df49b32cc709107827fb3c7'	,'5d7c994d5720533e15c3b1e9')
a = a.loc[ : , ['title']]
a.head()

                                    title
0                             Save Earth.
1  Machine Learning”&“Operations" (MlOps)
2                             EID MUBARAK
3                         Dakrai Artwork.
4                 My First Animated Post.

In [0]:
views_users_posts = views_users_posts.astype({'post_id':str})
post_user = views_users_posts.groupby(by = 'user_id')['post_id'].apply(lambda x:','.join(x))

In [0]:
post_user

In [0]:
#FUNCTION TO RECOMMEND POSTS BASED ON OTHER USERS VIEWING
def recommend_user(user):
    post_seen_by_user = mat1.columns[mat1[mat1.index==user].notna().any()].tolist()
    a = sim_user_30_u[sim_user_30_u.index==user].values
    b = a.squeeze().tolist()
    d = post_user[post_user.index.isin(b)]
    l = ','.join(d.values)
    posts_seen_by_similar_users = l.split(',')
    posts_under_consideration = list(set(posts_seen_by_similar_users)-set(list(map(str, post_seen_by_user))))
    posts_under_consideration = list(map(str, posts_under_consideration))
    score = []
    for item in posts_under_consideration:
        c = mat.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        #avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similar_users.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'post_id':posts_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    post_Name = top_5_recommendation.merge(posts, how='inner', on='post_id')
    post_Names = post_Name.title.values.tolist()
    return post_Names

**FINAL CONTENT-BASED RECOMMENDATIONS as per the POST's TITLE** (Recommend posts for the given user)

In [101]:
#ENTERING USER_ID TO GET ALL THE RECOMMENDED POSTS
recommend_user('5d60098a653a331687083238')

['Art Expo 2020',
 'Faith in yourself',
 'Save Earth.',
 'Designing Cmos circuit from Boolean expressions (Microwind)',
 'Sky never disappoints me!']